<app-navbar></app-navbar>

<div class="panel panel-info" style="width: 70%; margin-left: 15%">
  <div class="panel-heading" style="height: 60px" ><b class="text-info" style="margin-left: 40%">Waiting to shipment</b> </div>
  <div class="panel-body">

    <table  class="table">
      <thead>
      <tr>
        <th style="text-align: center">User Name</th>
        <th style="text-align: center">Product Name</th>
        <th >Product Image</th>
      </tr>
      </thead>

      <tbody *ngFor="let obj of buyObj; let i = index">

      <tr *ngIf="obj.product">
        <td style="text-align: center">{{obj.name}}</td>
        <td style="text-align: center">{{obj.product.name}}</td>

        <td style="text-align: center"><img src="http://tuki-taki.cleverapps.io/{{obj.product.picture[0]}}" alt="..." class="img-responsive" height="50px" width="80px">
        </td>
      </tr>

      </tbody>
    </table>

  </div>
</div>







<div class="panel panel-info" style="width: 70%; margin-left: 15%">
  <div class="panel-heading" style="height: 60px" ><b class="text-info" style="margin-left: 40%">Buy List</b> </div>
            <div class="panel-body">

              <table  class="table">
                <thead>
                <tr>
                  <th style="text-align: center">User Name</th>
                  <th style="text-align: center">Product Name</th>
                  <th >Product Image</th>
                </tr>
                </thead>

                <tbody *ngFor="let obj of myObj; let i = index">

                <tr *ngIf="obj.product">
                  <td style="text-align: center">{{obj.name}}</td>
                  <td style="text-align: center">{{obj.product.name}}</td>

                  <td style="text-align: center"><img src="http://tuki-taki.cleverapps.io/{{obj.product.picture[0]}}" alt="..." class="img-responsive" height="50px" width="80px">
                  </td>
                </tr>

                </tbody>
              </table>

            </div>
</div>






